<a
  *ngIf="link as route"
  class="person-identity"
  [routerLink]="route"
  [attr.aria-label]="'Fiche de ' + displayName"
>
  <mat-icon class="person-identity__icon" [class.girl]="kind === 'girl'" [class.boy]="kind === 'boy'" aria-hidden="true">
    {{ icon }}
  </mat-icon>
  <span class="person-identity__name">{{ displayName }}</span>
</a>

<span *ngIf="!link" class="person-identity person-identity--static">
  <mat-icon class="person-identity__icon" [class.girl]="kind === 'girl'" [class.boy]="kind === 'boy'" aria-hidden="true">
    {{ icon }}
  </mat-icon>
  <span class="person-identity__name">{{ displayName }}</span>
</span>
